@model HIS_Inquire.Models.药品信息表

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>药品信息表</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.药品名称)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.药品名称)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.规格)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.规格)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.数量)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.数量)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.生产日期)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.生产日期)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.生产厂商)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.生产厂商)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.主治症状)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.主治症状)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.小类编号 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
